body{
	color: white;
	background-color: orange;
}
.smallheading{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.largeheading{
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
}
input.text,select{
	border:1px solid white;
	width: 30%;
	border-radius: 15px;
	background: transparent;
	color: white;
	height: 35px;
	padding: 5px;
	font-size: 15px;
	text-align: left;
}
option{
	color: white;
	background-color: black;
}
form{
	font-size: 20px;
}
fieldset{
	margin:20px;
	border:1px solid white;
}
#submitbutton{
	background-color: green;
	color: white;
	border-radius: 10px;
	border:1px solid black;
	width: 10%;
	height: 50px;
	margin-left: 50px;
	font-size: 15px;
}
#submitbutton:hover{
	background-color: darkgreen;
	transform: scale(1.3);
}
